@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,300;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #FAF8F5;
}

.header{
    color: #F8F5F0;
    display: flex;
    justify-content: center;
    background: #1E3A5F;
    font-weight: 500;
    height: 50px;
    padding-top: 13px;
    font-size: 20px;
}

.tabs{
    background: #8FA68E;
    height: 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
}

.btn{
    font-size: 15px;
    border: none;
    border-radius: 2px;
    background: #8FA68E;
    color: #E8EDE7;
    font-weight: 500;
    cursor: pointer;
    transition: ease 0.3s;
}

.btn:hover{
    background: #7A9179;
}

.food-type{
    display: flex;
    justify-content: flex-start;
    background: #e7e6e6;
    border-radius: 3px;
    color: #6B6B6B;
}

.food-info{
    display: flex;
    justify-content: space-around;
    position: relative;
    border-bottom: 2px solid #bfbfbf;
    color: #2C2C2C;
}

.title h1 {
  color: black;
  padding-left: 10px;
}

.food-img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
    margin-bottom: 15px;
    margin-right: 8px;
    margin-left: 8px;
}

.price{
    color: #CC7722;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 180px;
    padding-right: 8px;
}

.food-info p{
   margin-bottom: 40px;
}

/* making my menu responsive to phone*/

@media (max-width: 600px){
   .food-info{
    display: flex;
    justify-content: space-around;
    position: relative;
    border-bottom: 2px solid #bfbfbf;
    color: #2C2C2C;
    flex-wrap: wrap;
    margin-top: 30px;
}
    .food-info{
        flex: 1;
}

.food-info{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .price{
    color: #CC7722;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    padding-right: 4px;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
}